#change-pass .main-no-bottom {
  padding: 20px 15px;
}
#change-pass .bg-grey {
  background: #f5f6f7;
}
#change-pass .form-control {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 40px;
}
#change-pass .form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #01a3d1;
}
#change-pass .form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
#change-pass .input-desc {
  height: 28px;
  line-height: 28px;
  font-size: 17px;
  color: #444;
  margin-bottom: 4px;
}
#change-pass .input {
  float: right;
  border: 0;
  width: 65%;
  height: 30px;
  background: transparent;
}
#change-pass .btn-wrap {
  margin: 20px 0;
}
#change-pass .change-btn {
  width: 100%;
  font-size: 20px;
  background: #01a3d1;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 0;
  color: #fff;
}
#change-pass input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f6f6f6 inset;
}
