#home {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f5f6f7;
}
#home .count-show {
  display: inline-block;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  border: 0;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #73c3b2;
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 18px;
  outline: 0;
}
#home .count-list-wrap {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#home .count-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
  padding: 60px 10px 10px;
}
#home .count-item {
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
#home .home-link {
  position: fixed;
  z-index: 99;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 16px;
}
#home .home-link.problem {
  top: 10px;
  right: 10px;
}
#home .home-link.contact {
  top: 10px;
  right: 84px;
}
#home .banner-title {
  z-index: 99;
  top: 60px;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
#home .banner-intro {
  z-index: 99;
  top: 92px;
  padding: 0 14px;
  position: fixed;
  width: 100%;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
#home .btn-banner-ticket {
  width: 120px;
  height: 34px;
  padding: 0;
  line-height: 34px;
  top: 140px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 99;
  font-size: 17px;
  color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#home .slide-mask {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: rgba(80, 80, 80, 0.2);
}
#home .map-wrap {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
#home .slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
#home .slide__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#home .slider-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
#home .slider-item {
  width: 100%;
}
#home .slider-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home .wrapper-1MpWX {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
#home .wrapper-1MpWX .exampleBox-1GtS2 {
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  width: 88%;
  box-sizing: border-box;
  margin: 10px 6%;
}
#home .wrapper-1MpWX .exampleBox-1GtS2 p {
  line-height: 24px;
  color: #888;
}
#home .wrapper-1MpWX .area-10mJu {
  padding: 20px 40px;
}
#home .wrapper-1MpWX .sliderBox-3VkIG {
  border: 1px solid #ccc;
  height: 350px;
}
#home .wrapper-1MpWX .forkMe-2nyxS {
  position: absolute;
  top: 0px;
  right: 0px;
}
#home .sliderBox-1MmUg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#home .sliderBox-1MmUg,
#home .sliderBox-1MmUg * {
  box-sizing: border-box;
}
#home .sliderBox-1MmUg .sliders--1VUu {
  position: absolute;
  overflow: hidden;
}
#home .sliderBox-1MmUg .sliders--1VUu li {
  float: left;
  list-style: none;
}
#home .dotBox-3zRnJ {
  position: absolute;
  width: 100%;
}
#home .dotBox-3zRnJ .dots-3rAdw {
  overflow: hidden;
  position: absolute;
}
#home .arrows-1qk_3 {
  height: 100%;
  position: relative;
}
#home .arrows-1qk_3 .arrow-1kkS3 {
  position: absolute;
  cursor: pointer;
  font-size: 48px;
  color: #fff;
  height: 50px;
  line-height: 50px;
}
#home .arrows-1qk_3 .left-3ackY {
  left: 0px;
}
#home .arrows-1qk_3 .right-2j20K {
  right: 0px;
}
#home .infoBox-3tq4A {
  position: relative;
  border-top: 1px dashed #ccc;
  padding: 0px 10px;
}
#home .infoBox-3tq4A .title-2Cx8a {
  position: absolute;
  line-height: 28px;
  top: -14px;
  left: 30px;
  padding: 0px 10px;
  background-color: #fff;
}
#home .infoBox-3tq4A .info-SeMmn {
  position: relative;
  padding: 20px 10px 10px;
  line-height: 22px;
  color: #999;
}
#home .infoBox-3tq4A .codeBtn-e3suN {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
#home .infoBox-3tq4A .codeBox-1eW5I {
  background-color: #333;
  color: #fff;
}
#home .slider-item {
  height: 100%;
}
#home .sight-icon {
  position: relative;
}
#home .sight-icon__icon {
  position: absolute;
  top: -10px;
  left: -10px;
  background: #f54336;
  width: 20px;
  height: 20px;
  border-radius: 99px;
}
#home .sight-icon__name {
  position: absolute;
  left: 14px;
  top: -8px;
  width: 100px;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
#home .contact-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(96, 96, 96, 0.1);
}
#home .contact-info {
  color: #777;
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 0;
  border-radius: 6px;
  margin: -50px auto auto;
  padding: 4px 10px;
  width: 240px;
  height: 72px;
}
#home .contact-info__item {
  height: 32px;
  line-height: 32px;
}
#home .contact-info__item:first-child {
  border-bottom: 1px solid #ddd;
}
