@input-line-height: 30px;

#register {
  .bg-grey {
    background: #f6f6f6;
  }
  .input-group {
    border-bottom: 1px solid #ddd;
    margin: 14px 40px;
    padding: 10px 0;
    &:first-child {
      margin-top: 40px;
    }
  }
  .input-desc {
    height: @input-line-height;
    line-height: @input-line-height;
    font-size: 18px;
    color: #111;
  }
  .input {
    float: right;
    border: 0;
    width: 65%;
    height: @input-line-height;
    background: transparent;
  }
  .btn-wrap {
    margin: 20px 40px;
  }
  .register-btn {
    width: 100%;
    font-size: 20px;
  }
}