#register .bg-grey {
  background: #f6f6f6;
}
#register .input-group {
  border-bottom: 1px solid #ddd;
  margin: 14px 40px;
  padding: 10px 0;
}
#register .input-group:first-child {
  margin-top: 40px;
}
#register .input-desc {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #111;
}
#register .input {
  float: right;
  border: 0;
  width: 65%;
  height: 30px;
  background: transparent;
}
#register .btn-wrap {
  margin: 20px 40px;
}
#register .register-btn {
  width: 100%;
  font-size: 20px;
}
