@category-item-size: 66px;
@recommend-item-border-radius: 4px;
@import "../variables";

#recommend {
  .main-no-bottom {
    background: #151f3f;
    padding: 130px 0 10px;
  }
  .input-group {
    position: fixed;
    z-index: 10;
    top: @header-height;
  }
  .form-group {
    margin: 0;
    .input-group {
      margin: 0;
    }
  }
  .form-control {
    height: 40px;
    border: 0;
    &:active {
      box-shadow: none;
    }
  }
  .input-group-text {
    display: inline-block;
    padding: 0;
    text-align: center;
    width: 60px;
    height: 40px;
    background: #279fba;
    border: 0;
    color: #fff;
  }
  .category {
    z-index: 10;
    position: fixed;
    top: 116px;
    width: 100%;
    background: #151f3f;
    text-align: center;
  }
  .category-item-wrap {
    display: inline-block;
    margin: 10px;
    //width: 25%;
  }
  .category-item {
    display: block;
    border-radius: 999px;
    //margin: 10%;
    width: @category-item-size;
    height: @category-item-size;
    line-height: @category-item-size;
    text-align: center;
    color: #fff;
    font-size: 22px;
  }
  .category-item.hotel {
    background: #ee7933;
  }
  .category-item.food {
    background: #ef4a44;
  }
  .category-item.show {
    background: #73c3b2;
  }
  .category-item.activity {
    background: #704c6a;
  }
  .recommend-list {
    height: 100%;
    padding: 0 10px 10px;
  }
  .recommend-item {
    position: relative;
    padding: 10px;
    display: block;
    -webkit-border-radius: @recommend-item-border-radius;
    border-radius: @recommend-item-border-radius;
    background: #fff;
    & + .recommend-item {
      margin-top: 12px;
    }
  }
  .recommend-item__img-mask {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(60, 60, 60, 0.3);
    border-radius: @recommend-item-border-radius;
  }
  .recommend-item__img {
    width: 100%;
    object-fit: cover;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }

  .recommend-item__title {
    margin: 8px 2px;
    z-index: 9;
    color: #152248;
    font-size: 20px;
  }
  .recommend-item__desc {
    color: #656a7b;
    font-size: 15px;
  }

}