@grey-icon: #9a9a9a;
@grey-main: #555;
@grey-light: #888;
@grey-very-light: #f0f0f0;
@green-main: #3FB618;



@header-height: 76px;
@footer-height: 54px;

@color-danger: rgb(226, 62, 79);
@color-info: #9954BB;
@color-primary: rgb(148, 123, 255);
@color-warn: rgb(224, 210, 48);


@banner-height: 200px;

