.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ddd;
  width: 100%;
  height: 54px;
  background: #fff;
}
.nav-bottom__nav-item {
  float: left;
  width: 33.3333%;
  text-align: center;
  text-decoration: none;
  color: #9a9a9a;
}
.nav-bottom__nav-item.active .nav-bottom__nav-item_img:before {
  color: #017494;
}
.nav-bottom__nav-item.active .nav-bottom__nav-item_txt {
  color: #017494;
}
.nav-bottom__nav-item_img:before {
  font-size: 24px;
  color: #888;
}
.nav-bottom__nav-item_txt {
  margin-top: -4px;
  float: left;
  clear: left;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #888;
}
