@import "../../variables";

.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ddd;
  width: 100%;
  height: @footer-height;
  //box-shadow: 0 -2px 4px #ddd;
  background: #fff;
}

.nav-bottom__nav-item {
  float: left;
  width: 33.3333%;
  text-align: center;
  text-decoration: none;
  color: @grey-icon;
  &.active {
    .nav-bottom__nav-item_img:before {
      color: @color-primary;
    }
    .nav-bottom__nav-item_txt {
      color: @color-primary;
    }
  }
}

.nav-bottom__nav-item_img {

  &:before {
    font-size: 24px;
    color: @grey-light;
  }
}

.nav-bottom__nav-item_txt {
  margin-top: -4px;
  float: left;
  clear: left;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: @grey-light;
}